* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
    margin:0;
   }
body{background-color: grey;}

#wrapper {
      width: 1100px;
      margin: 0 auto;
     }

#content
        {
            background-color: antiquewhite;
            background-image: url(../images/background.jpg);
                width: 1100px;
            margin: 0;
            overflow:auto;
           
        }   
#content2{
    background-color: antiquewhite;
                width: 1100px;
            margin: 0;
            overflow:auto;
}

#box {
          overflow:auto ;
          height:100%;
          background-color:white;
          margin:30px 150px 50px 150px;
          padding: 30px 5px 30px 5px;
                    }
#box2{
    overflow:auto ;
          height:100%;
          background-color:white;
          margin:30px 250px 50px 250px;
          padding: 50px;
}

.dabigpic
        {
            height:300px;
            width: 300px;
            margin:5px;
            float: left;
            background-image: url(../images/yarn1.jpg);
          
        }



header, nav, footer {
                padding: 10px;
                background-color: aqua;
                text-align: center;
                
				}

.column1, .column2, .column3, 
.column4, .column5, .column6{
                            background-image: url(../images/yarn6.jpg);
                            width: 147px;
                            height: 147px;
                            float:left;
                            margin:5px 2px 0px 2px;
                       
                            }
		
.logo{
    float:left;
    margin left:200px;
    
}
li {
    display: inline;
    padding: 5px;
    }
h2{position:relative;
    top:120px;
    left:0px;
    font-size: 18px;
    color:white;
    font-stretch: condensed;
    font-family:sans-serif arial;}
.p1{
    position: center;
}
.title2 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
}
.p2{
    text-align: left;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
